.app {
    width: 500px;
    color: red;
    display: flex;
    flex-direction: row;
}
.img1 {
    background: url('../../assets/images/DSC_2437.jpg?_sprite');
}
.img2 {
    background: url('../../assets/images/DSC_3070.jpg?_sprite');
}

