html,
body {
    margin: 0;
    padding: 0;
}

p {
    color: red;
}


.test {
    width: 40px;
    font-size: 36px;
    border: 10px solid red;
    border-radius: 20px;
    line-height: 20px;
}

.keep {
    width: 20PX;
    height: 100PX;
}

// 我是CSS中的注释
